@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

/* Andy Bell Css Reset */

/* Box sizing rules */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */

html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Custom Styles */

/* CSS PROPERTIES */
:root {
  --main-bg-color: hsl(217, 54%, 11%);
  --main-card-bg-color: hsl(216, 50%, 16%);
  --main-white:hsl(0, 0%, 100%);
  --main-soft-blue:hsl(215, 51%, 70%);
  --main-cyan:hsl(178, 100%, 50%);
}

/* ### Primary

- Soft blue: hsl(215, 51%, 70%)
- Cyan: hsl(178, 100%, 50%)

### Neutral

- Very dark blue (main BG): hsl(217, 54%, 11%)
- Very dark blue (card BG): hsl(216, 50%, 16%)
- Very dark blue (line): hsl(215, 32%, 27%)
- White: hsl(0, 0%, 100%) */

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--main-bg-color);
}

.container {
  width: 350px;
  height: 596px;
  background-color: var(--main-card-bg-color);
  margin: 200px auto;
  border-radius: 10px;
  padding: 20px;
}

.main-image-container{
  width: 100%;
  margin: 0 auto;
}

.main-image{
  border-radius: 10px;
}

.main-text-container{}

.main-header{
  color:var(--main-white);
}
.main-text{
  color: var(--main-soft-blue);
}
.sub-text-container{}

.eth-icon{
  display: inline-block;
}

.eth-price{
  color: var(--main-cyan);
}
.clock-icon{
  display: inline-block;
}

.time-remaining{
  color: var(--main-soft-blue);
}
.profile-container{
  display: flex;
}

.profile-image{
  width: 10%;
  border: 2px solid var(--main-white);
  border-radius: 50%;
  /* display: inline-block; */
}

.profile-text{
  color: var(--main-soft-blue);
}

.profile-name{
  color: var(--main-white);
}

.footer-text{
  color: var(--main-white);
  font-size: 16px;
}


p {
  font-size: 18px;
}

/* front end mentor styles */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
